@model JassPro.Model.Account.UserModel
@{
    ViewBag.Title = "JASS-登录";
}


<html lang="zh-CN" class="html">

<!-- Mirrored from www.zi-han.net/theme/hplus/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:18:23 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>JASS-登录</title>
    <meta name="keywords" content="Jass后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="Jass是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/static/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="~/static/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="~/static/css/animate.min.css" rel="stylesheet">
    <link href="~/static/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <script>if (window.top !== window.self) { window.top.location = window.location; }</script>
    <script src="~/Scripts/Account/Login.js"></script>
</head>
<body class="gray-bg">
	<div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <img src="~/static/img/logo.png" />
            </div>
            <h3>欢迎使用 JASS</h3>
            @using (Html.BeginForm("UserLogin", "Main", FormMethod.Post, new { @class = "form-horizontal", id = "loginFormPhone", name = "loginFormPhone", onsubmit = "return Login.login2()" }))
            {
            <form class="m-t" role="form" action="">
                <div class="form-group" style="margin-left:auto;">
                    <input type="text" id="username" style="width:315px;" value="@Model.UserName" class="form-control" name="username" placeholder="用户名">
                </div>
                <div class="form-group" style="margin-left:auto;">
                    <input type="password" id="password" style="width:315px;" value="@Model.Password" class="form-control" name="password" placeholder="密码">
                </div>
                @using JassPro.Model.Account
                @if (Model.ErrorCode == -2)
                {
                    <!-- 错误div -->
                    <div class="error_border">
                        <div class="error_div errorShow" id="error_div">
                            <span class="text-left eng-error" style="color:red;">
                                登录失败:用户不存在/密码错误
                            </span>
                        </div>
                    </div>
                }
                else
                {
                    <!-- 错误div -->
                    <div class="error_border">
                        <div class="error_div errorShow" id="error_div">
                        </div>
                    </div>
                }
                <button type="submit" id="submitForm" onclick="return Login.doLogin()" class="btn btn-primary block full-width m-b">登 录</button>

                @*<p class="text-muted text-center">
            <a href="#"><small>忘记密码了？</small></a> | <a href="#">注册一个新账号</a>
        </p>*@
            </form>
            }

        </div>
	</div>
	<div style="position: fixed;line-height: 60px;width: 100%;left: 0;bottom:0;margin-bottom:0;text-align:center;font-size:16px;">
		&copy;2018-2019 深圳市君安珠宝有限公司
	</div>
	<script src="js/jquery.min.js?v=2.1.4"></script>
	<script src="js/bootstrap.min.js?v=3.3.6"></script>
	<script type="text/javascript" src="#" charset="UTF-8"></script>
</body>

<!-- Mirrored from www.zi-han.net/theme/hplus/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:18:23 GMT -->
</html>

